@import "o-colors/main";

body {
	@include oColorsFor(page);/*包含一个混合器：oColorsFor(page)*/
	min-height: 100vh;//vh:相对于视口的百分比
}

ul {
	background-color: oColorsGetPaletteColor('pink-tint2');
	margin:0;
	padding: 1em;
	list-style-type: none;
}

.toggle {
	.toggle-target {
		&.o-toggle--active {/*&指的是当前元素的父元素*/
			color:green;
			background-color: orange;
		}
	}
}

.menu {
	position:relative;
	.menu-target {
		position:absolute;
		display: none;
		width:200px;
		&.o-toggle--active {
			display: block;
		}
	}
	.menu-link {
		display: block;
		color:oColorsGetPaletteColor('teal-2');
		line-height:1.8;
		&:hover{
			color:oColorsGetPaletteColor('grey-tint5');
		}
	}
}

